<div class="container">
  <div class="row">
    <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="selezione" (selectionChange)="getData()">
          <mat-option value="tutti"> Tutti </mat-option>
          <mat-option value="manga"> Manga </mat-option>
          <mat-option value="anime"> Anime </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 p-1" *ngFor="let a of dati">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{a.title}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <img mat-card-lg-image src="{{a.images.jpg.image_url}}">
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 p-1" *ngFor="let a of anime">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
           <h4>{{a.name}}</h4>
           <mat-card-subtitle>
           <p>Clicca <a href="{{a.url}}"> qui </a> per vedere </p>
           </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
