<div class="container">
  <h1 class="text-center mt-3">Registrazione</h1>
<div class="col-md-12">
  <div class="card card-container p-5 border-0">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput type="text" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel">
              <mat-error *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors['required']">Username is required</div>
                <div *ngIf="username.errors['minlength']">Username must be at least 3 characters</div>
                <div *ngIf="username.errors['maxlength']">Username must be at most 20 characters</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel">
              <mat-error *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors['required']">Email is required</div>
                <div *ngIf="email.errors['email']">Email must be a valid email address</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="form-group">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
              <mat-error *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors['required']">Password is required</div>
                <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="form-group">
            <button mat-raised-button color="primary" class="btn btn-primary btn-block">Sign Up</button>
          </div>
        </div>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed! <br>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
</div>
