<div class="row">
  <div class="col-12 justify-content-center mt-5">
    <h1 class="text-center text-white">Add Ricetta</h1>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <form [formGroup]="ricettaForm" (ngSubmit)="onSubmit1()">
      <div class="form-group mt-4">
        <label for="nome" class="text-black h6">Nome:</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
      </div>
      <div class="form-group mt-4">
        <label for="procedimento" class="text-black h6">Procedimento:</label>
        <textarea class="form-control" id="procedimento" formControlName="procedimento"></textarea>
      </div>
      <div *ngFor="let input of inputs" class="mt-4">
        <label for="{{input}}" class="text-black h6">Ingredienti:</label> <br>

        <input type="text" id="ingrediente" class="form-control" #ingrediente [(ngModel)]="text" formControlName="ingrediente">
        <div class="row">
          <div class="col-6 justify-content-start">
            <button (click)="salva(ingrediente.value)" type="button" class="btn btn-outline-success mt-4">Salva
              Ingrediente</button>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="mt-5" type="submit" class="btn btn-danger mt-4" >Aggiungi Ricetta</button>
          </div>
        </div>
      </div>
    
    </form>
  </div>
</div>